// Icon size
.icon1x {
    font-size: 1em;
}
.icon2x {
    font-size: 2em;
}

.icon3x {
    font-size: 3em;
}

.icon4x {
    font-size: 4em;
}

// Flex
.d-flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

// text color
.text-white {
    color: white;
}

// Align

// width and height
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

//border
.bd1-gray {
    border-right: 1px solid #c2c2c2;
}
